target/debug/miner filter=lfs diff=lfs merge=lfs -text
target/debug/deps/miner-5f41c7c403b3957b filter=lfs diff=lfs merge=lfs -text
target/debug/deps/miner-f7f0933f7dfe333c filter=lfs diff=lfs merge=lfs -text
